body{
	background-color: lightblue;
}

h1{
	color: navy;
	margin-left: 20px;
}

div{
	margin-top: 100px;
	margin-bottom: 100px;
	margin-right: 150px;
	margin-left: 80px;
	background-color: lightblue;
	border:1px soli black;
}

/* this is a single line comment */